<h2>List of ratings</h2>

<p><%= @ratings.count %> ratings</p>

<%= link_to "Create rating", ratings_new_path %>

<ul>
  <% @ratings.each do |rating| %>
    <li><%= render rating %></li>
  <% end %>
</ul>
