<h1>Beers</h1>

<%= render "beers_table", beers: @beers %>

<%= link_to "New beer", new_beer_path, { class: "btn btn-primary" } if current_user %>
<%= link_to "Breweries", breweries_path, { class: "link" } %>
