<h2>Beers</h2>
<div id="perkele"></div>
<table id="beer-table" class="table table-hover">
  <thead>
  <tr>
    <th> <button id="name">Name</button> </th>
    <th> <button id="style">Style</button> </th>
    <th> <button id="brewery">Brewery</button> </th>
  </tr>
  <thead>
  <tbody>
  <div id="beer-list"></div>
  </tbody>
</table>