/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background: #f8f3f1;
    color: #1e1f2a;
}

main {
    margin: 4rem 2rem 2rem 2rem;
}

a {
    color: #34a170;
    text-decoration: none;
    outline-offset: 0.4rem;
    outline-color: #64d9a5;
    text-underline-offset: 0.2rem;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #64d9a5
}

.selected-link {
    text-decoration: underline;
    text-decoration-style: dashed;
}

input, select {
    background: none;
    border: none;
    background: #564f65;
    padding: 0.6rem;
    border-radius: 0.4rem;
    color: #ecedfd;
    outline-offset: 0.2rem;
    outline-color: #68568d;
    margin: 0.4rem 0.2rem 0.5rem;
}

section {
    margin-top: 1rem;
}

label {
    display: block;
}

.surface {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: 1rem;
    border-radius: 1rem;
}

.navbar {
    padding: 1.5rem;
    background: #faf9f7;
    margin: 1rem;
}

.nav-link {
    margin: 0 0.6rem 0 0.6rem;
}

.btn-main {
    background: #a9a039;
    color: #2E2F30;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.btn-main:hover {
    background: #c4bd39;
}

.btn-dangerous {
    background: none;
    border: none;
    color: #9b3d3d;
    cursor: pointer;
}

.btn-dangerous:hover {
    color: #d94e4e;
}
